/* Default style for gridInfoDiv */
.gridInfoDiv {
    background-color: white;
    border: 0px solid black;
    width: 250px; /* Default width */
    height: 460px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: width 0.5s ease, z-index 0.5s, transform 0.5s ease, border 0.3s ease; /* Ensure smooth transform and width transitions */
    z-index: 1;
    box-sizing: border-box;
    /* overflow: hidden; */
}

/* Hovered style for gridInfoDiv */
.gridInfoDiv.hovered {
    z-index: 10;  /* Bring it to the front */
    padding-right: 30px;
    border: 3px solid black;
}

/* Inner content */
.squareDiv {
    height: 444.44px;
    width: 250px;
    background-color: black;
    border-radius: 10px;
    border: 3px solid black;
    margin-left: 0px;
    transition: background-color 0.3s ease, margin-left 0.3s ease, transform 0.5s ease;
    /* transform-origin: left center; */
}
/* Change background color on hover */
.gridInfoDiv.hovered .squareDiv {
    margin-left: 10px;
    transform: scale(1.005);
}

.gridItemText {
    width: 0;
    opacity: 0%;
    overflow: hidden;
    transition: opacity 0.8s ease, width 0.2s ease;
    white-space: nowrap;
}

.gridInfoDiv.hovered .gridItemText {
    margin-left: 10px;
    width: calc(100% - 250px);
    /* opacity: 10%; */
    
    /* Introduce a 0.2s delay before changing the white-space */
    white-space: nowrap;
    animation: changeWhiteSpace 0.1s 0.1s forwards, changeOpacity 0.0001s 0.45s forwards;/* Triggers after 0.2s */
}

/* Keyframes to change white-space after 0.2s delay */
@keyframes changeWhiteSpace {
    to {
        white-space: normal; /* Change to allow wrapping */
        
    }
}

@keyframes changeOpacity {
    to {
        opacity: 100%;
    }

}

