/* Default style for gridInfoDiv */
.gridInfoDiv {
    background-color: white;
    border: 0px solid black;
    width: 250px; /* Default width */
    height: 460px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: width 0.5s ease, z-index 0.5s, transform 0.5s ease, border 0.3s ease; /* Ensure smooth transform and width transitions */
    z-index: 1;
    box-sizing: border-box;
    /* overflow: hidden; */
}

/* Hovered style for gridInfoDiv */
.gridInfoDiv.hovered {
    z-index: 10;  /* Bring it to the front */
    padding-right: 30px;
    border: 3px solid black;
}

/* Inner content */
.squareDiv {
    height: 444.44px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    margin-left: 0px;
    transition: background-color 0.3s ease, margin-left 0.3s ease, transform 0.5s ease;
    /* transform-origin: left center; */
}
.gridItemText {
    width: 0px;
    background-color: purple;
    opacity: 0%;
    transition: opacity 0.2s ease;
}
/* Change background color on hover */
.gridInfoDiv.hovered .squareDiv {
    background-color: green;
    margin-left: 10px;
    transform: scale(1.005);
}

.gridInfoDiv.hovered .gridItemText {
    margin-left: 10px;
    width: calc(100% - 250px);
    opacity: 100%;
}


