.flexScrollContainer {
  width: 100%;
  height: 100vh;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.leftFlex {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightFlex {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftScrollContainer {
  height: 80%;
}

.sourceScrollContainer {
  height: 5%;
  pointer-events: none;
}

.rightScrollContainer {
  height: 85%;
  pointer-events: none;
  padding-right: 20%;
}

.mobileScrollContainer {
  width: 100%;
  height: 100vh;
}

.mobileLeftScrollContainer {
  height: 70vh;
}

.mobileRightScrollContainer {
  height: 30vh;
}

.mobileSourceScrollContainer {
  height: 4vh;
}

@media screen and (max-width: 700px) {
  .leftFlex {
    width: 50%;
  }
  .rightFlex {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .leftFlex {
    width: 55%;
  }
  .rightFlex {
    width: 45%;
  }
  .mobileLeftScrollContainer {
    height: 50vh;
  }

  .mobileRightScrollContainer {
    height: 30vh;
  }
}

@media screen and (max-width: 400px) {
  .mobileLeftScrollContainer {
    height: 50vh;
  }

  .mobileRightScrollContainer {
    height: 45vh;
  }
}

::-webkit-scrollbar {
    display: none; /* Hides scrollbars in WebKit browsers (Chrome, Safari) */
  }
  body::-webkit-scrollbar {
    display: none; /* WebKit-based browsers (Chrome, Safari, Edge) */
    width: 0; 
  }
  
  body {
    -ms-overflow-style: none; /* Hides scrollbars in Internet Explorer and Edge */
    scrollbar-width: none; /* Hides scrollbars in Firefox */
  }
  